#root {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.rs-zooms-bar {
  bottom: 5px;
  right: 15px;
  top: unset;

  .rs-zoom-in,
  .rs-zoom-out {
    background: #fff;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rs-zoom-in {
    margin-bottom: 15px;
  }
}
